<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authorized</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>style}}
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
<body>
<div id="container" style="text-align: center;">
    <div id="textColor">
        <h1 style="display:block;">Authorization Successful!</h1><br>
        <h2 style="font-weight: normal">Go to login:- </h2>
        <a id="login"><input type="submit" value="Login"></a>
    </div>
</div>
<script>

    let a = document.getElementById('login')

    //if (navigator.userAgent.match(/Android/i)) {
        // a.href = 'intent://#Intent;action=android.intent.action.MAIN;package=com.netchat;end'
        // a.href = '/app'
   // } else {
       a.href = '/'
   // }

    document.onselectstart = () => {
        event.preventDefault()
    }

    window.onpageshow = function (e) {
        if (window.performance.navigation.type === 2) {
            window.location.reload()
        }
    }
</script>
</body>
</html>
