<!DOCTYPE html>
<html lang="en">
<head>
    <title>Check Activation E-mail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>style}}
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
<body>
<div id="container" style="text-align: center; background-color: rgba(255, 255, 255, 0)">
    <div style="position: fixed; width: 100%; height: 100%; align-items: center; justify-content: center; display:flex;">
        <div id="textColor">
            <h1 style="display:block;">Account Created!</h1><br>
            <h3 style="display:block; font-weight: normal; -webkit-text-fill-color: rgba(255,255,255,0.39)">We've sent an activation email to your email address. Please follow the
                instructions written in the mail.</h3>
        </div>
    </div>
</div>
<script>
    document.onselectstart = () => {
        event.preventDefault()
    }

    window.onpageshow = function (e) {
        if (window.performance.navigation.type === 2) {
            window.location.reload()
        }
    }
</script>
</body>
</html>
