<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <script src="../node_modules/device-uuid/lib/device-uuid.js"></script>
    <script>
        const socket = io.connect()

        socket.on('unsubscribe', () => {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.ready.then(reg => {
                    reg.pushManager.getSubscription().then(subscription => {
                        if (subscription) {
                            subscription.unsubscribe().then(() => {
                                window.location.href = '/'
                            })
                        } else {
                            window.location.href = '/'
                        }
                    })
                })
            }
        })

        window.onpageshow = function (e) {
            if (window.performance.navigation.type === 2) {
                window.location.reload()
            }
        }

        document.onselectstart = () => {
            event.preventDefault()
        }

    </script>
</head>
<body>
</body>
</html>
